* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Be Vietnam Pro", sans-serif;
}

#gameCanvas {
  display: block;
  image-rendering: pixelated;
}
